<h1 class="page-header">Dashboard</h1>

<div class="row">
	<div class="col-sm-4 col-xl-3">
		<div class="panel panel-tile text-center">
			<div class="panel-body">
				<h2>{{users}}</h2>
				<h6 class="text-success">Users</h6>
			</div>
			<div class="panel-footer">
				<span> last user: </span>
				{{#each lastUsers}}
					<strong>
						<a href="/admin/profile/{{_id}}">{{name}}</a>
					</strong>
				{{/each}}
			</div>
		</div>
	</div>
	<div class="col-sm-4 col-xl-3">
		<div class="panel panel-tile text-center">
			<div class="panel-body">
				<h2>{{channels}}</h2>
				<h6 class="text-success">Channels</h6>
			</div>
			<div class="panel-footer">
				<span> &nbsp; </span>
			</div>
		</div>
	</div>
	<div class="col-sm-4 col-xl-3">
		<div class="panel panel-tile text-center">
			<div class="panel-body">
				<h2>{{videos}}</h2>
				<h6 class="text-success">Videos</h6>
			</div>
			<div class="panel-footer">
				<span> &nbsp; </span>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-md-3">
		<h4>Top 5 Most Watched Channels</h4>
		<div class="list-group">
		{{#each mostWatchedChannels}}
			{{#with _id}}
				<a href="https://www.youtube.com/channel/{{id}}" title="{{title}}" class="channel list-group-item">
					<div class="media-left">
						<img src="{{thumbnail}}" alt="{{title}}"	class="">
					</div>
					<div class="media-body">
						<h4 class="list-group-item-heading">{{title}} <span class="badge">{{../count}}</span></h4>
						<p class="list-group-item-text">
							{{excerpt description}}
						</p>
					</div>
				</a>
			{{/with}}
		{{/each}}
		</div>
	</div>
	
	<div class="col-xs-12 col-md-6 col-lg-4 col-lg-offset-1">
		<h4>Top 5 Most Watched Videos</h4>
		{{#each mostWatchedVideos}}
			{{#with _id}}
				<div class="thumbnail">
					<a href="https://www.youtube.com/channel/{{channel.id}}" title="{{channel.title}}" class="channel">
						<img src="{{channel.thumbnail}}" alt="{{channel.title}}" />
						<span>{{channel.title}}</span>
					</a>
					
					<a href="{{youtubeVideo id}}" title="{{title}}" class="thumb">
						<img src="https://i.ytimg.com/vi/{{id}}/mqdefault.jpg" alt="{{title}}" />
						<figcaption>{{formatTime duration}}</figcaption>
					</a>
					
					<div class="caption">
						<h3><a href="{{youtubeVideo id}}" title="{{title}}">{{title }}</a> <span class="badge">{{../count}}</span> </h3>
						
						<div class="info clearfix">
							<p class="pull-left"><strong>Published:</strong> {{formatDate published}}</p>
							<p class="pull-right"><strong>Views:</strong> {{formatLargeNumber views 1}}</p>
						</div>
						{{#if likes}}
							<p><strong>Rating:</strong> {{formatRating likes dislikes}}</p>
						{{/if}}
					</div>
				</div>
			{{/with}}
		{{/each}}
	</div>
	
	<div class="col-xs-12 col-md-3 col-lg-offset-1">
		<h4>Top 5 Most Active Users</h4>
		<div class="list-group">
		{{#each mostActiveUsers}}
			{{#with user}}
				<div class="list-group-item">
					<h4 class="list-group-item-heading">{{name}}</h4>
					<div class="list-group-item-text">
						<p>Watched: <span class="badge">{{../watched.length}}</span></p>
						<p>Channels: <span class="badge">{{../channels.length}}</span></p>
					</div>
				</div>
			{{/with}}
		{{/each}}
		</div>
	</div>
</div>